# -*- coding: utf-8 -*-
"""
General settings
"""
from os.path import dirname, join, realpath


class Common(object):

    base_dir = realpath(join(dirname(__file__) , '..'))
    views_dir = realpath(join(base_dir, 'views'))
    static_dir = realpath(join(base_dir, 'static'))

    # The default subdomain for URLs without a subdomain defined.
    default_subdomain = ''

    # URL prefix for static files.
    # Example: "http://media.lucumalabs.com/static/", "http://example.com/static/"
    static_url = '/static'

    # URL shortcuts for static files -- styles, scripts and images.
    static_url_styles = static_url + '/styles'
    static_url_scripts = static_url + '/scripts'
    static_url_images = static_url + '/images'

    # Absolute filesystem path to the directory that will hold user-uploaded files.
    # Example: "/home/example.com/media/"
    media_dir = realpath(join(static_dir, 'media'))

    # URL prefix that handles the media served from MEDIA_ROOT.
    # Examples: "http://media.lucumalabs.com/media/", "http://example.com/media/"
    media_url = '/static/media'

    # The maximum size for uploaded files
    max_content_length = 1024 * 1024 * 16  # 16 MB

    # The maximum size for regular form data (not files)
    max_form_memory_size = 1024 * 1024 * 2  # 2 MB

    # This secret was generated automatically, so it should be unique.
    # Don't share it with anybody.
    secret_key = '[[ SECRET1 ]]'

    # Shake-Auth settings
    auth_settings = {
        # A hardcoded system-wide secret 'salt'. Don't share it with anybody.
        # Do not change this value after creating users all of their passswords
        # will become invalid.
        'pepper': '[[ SECRET2 ]]',

        # Redirect the user there after signing in.
        'sign_in_redirect': '/',

        # Redirect the user there after she sign out.
        'sign_out_redirect': '/',

        # The "reset your password" links will be valid for this number of hours
        # after generation.
        'reset_expire': 3,

        # minimum number of chars the password must have.
        'password_minlen': 5,
    }

