=====================
[[ PNAME ]]
=====================

Esta es la estructura de archivos por defecto de una aplicación Shake, organizada de la forma como lo encuentramos más conveniente y siguiendo las mejores prácticas. Es una buena base para empezar, pero no es de ningún modo, obligatoria. Puedes adaptarlo a tu gusto y a las necesidades de tu aplicación.

├── README.txt
├── README_es.txt
├── app
│   ├── app.py
│   ├── controllers
│   │   ├── main.py
│   ├── models
│   │   ├── main.py
│   │   └── users.py
│   ├── settings
│   │   ├── __init__.py
│   │   └── _LOCAL.py
│   ├── urls.py
│   └── views
│       ├── layouts
│       │   └── base.html
│       ├── index.html
│       └── not_found.html
│       ├── error.html
├── manage.py
├── requirements.txt
├── static
│   ├── css
│   │   └── prueba.css
│   ├── images
│   │   └── favicon.ico
│   ├── js
│   │   ├── jquery-1.6.2.min.js
│   │   ├── prueba.js
│   │   └── underscore-1.1.6.min.js
│   └── robots.txt
└── tests


app
  Contiene el código python específico para esta aplicación.

app/app.py
  El archivo donde se istancia la aplicación (la clase Shake).

app/controllers
  Controladores. Reciben las acciones de los usuarios, interactúan con los
  modelos y muestran la vista apropiada en la página.

app/models
  El código respnsable por mantener el estado de la aplicación (como el que
  se comunica con la base de datos) y las reglas que aplican sobre él.

app/settings
  Contiene los archivos con opciones de configuración. 

app/urls.py
  Lista de reglas de URLs.

app/views
  Guarda las plantillas para las vistas, que además de HTML, pueden ser
  para generar cualquier otro tipo de archivo basado en texto. Todas las vistas
  usan la sintáxis de Jinja2 por defecto.

app/views/layouts
  Guarda los archivos de plantillas de las cuales heredan las otras.
  Estos archivos contienen secciones comunes, como la cabecera, pie de
  página, etc.

manage.py
  Un programa de línea de comandos para tareas administrativas. Puedes agregar
  tus porpios comandos a este archivo.

requirements.txt
  Una lista de dependencias de tu aplicación. Puedes instalarlas todas
  fácilmente ejecutando:
      pip install -r requierements.txt

static
  Contiene subdirectorios para hojas de estilos, imágenes y código
  JavaScript.

tests
  Guarda aquí los tests automáticos para tu aplicación.



