### OS
*.py[co]
.DS_Store
.directory
~.*

### Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
env

### Installer logs
pip-log.txt

### Unit test / coverage reports
.coverage
.tox

### Database
db.sqlite

### Project specific
static/media/*
