# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example:
#
#     pip install -r requirements.txt

Werkzeug>=0.7
Jinja2>=2.4
pyCEO>=0.3
pyYAML
Voodoo>=0.3
