html, body {
padding: 0;
margin: 0;
background: #fefefe;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16px;
line-height: 1.5;
color: #222;
}

.container {
width: 940px;
margin: 10px auto;
zoom: 1;
}

h1 {
font-weight: bold;
color: #404040;
margin-bottom: 18px;
font-size: 30px;
line-height: 36px;
}

pre {
background-color: #eee;
padding: 10px;
font-size: 11px;
}

a, a:visited {
color: #0069d6;
text-decoration: none;
line-height: inherit;
font-weight: inherit;
}

a:hover {
color: #00438a;
text-decoration: underline;
}

table {
width: 100%;
margin-bottom: 18px;
padding: 0;
font-size: 13px;
border-collapse: collapse;
}

table th, table td {
padding: 10px 10px 9px;
line-height: 18px;
text-align: left;
}

table td.action {
padding-left: 1px;
padding-right: 1px;
}

table th {
padding-top: 9px;
font-weight: bold;
vertical-align: middle;
}

table td {
vertical-align: top;
border-top: 1px solid #ddd;
}

table tbody th {
border-top: 1px solid #ddd;
vertical-align: top;
}

.field {
margin-bottom: 10px;
}

.actions {
background: #f5f5f5;
margin-top: 18px;
margin-bottom: 18px;
padding: 17px 20px 18px 150px;
border-top: 1px solid #ddd;
-webkit-border-radius: 0 0 3px 3px;
-moz-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
}


/**** Flash messages *****/

div.flash {
background: #FF9632;
border: 1px solid #FFAF2E;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
color: white;
font-size: 13px;
font-weight: bold;
padding: 10px 12px;
margin-bottom: 10px;
position: relative;
text-align: center;
}

div.info {
background: #8DB326;
border: 1px solid #74A000;
}

div.error {
background: #CF4225;
border: 1px solid #C32B0C;
}

div.flash a {
border: none !important;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
cursor: pointer;
color: white !important;
padding: 4px 8px;
filter: alpha(opacity=60);
filter: "alpha(opacity=60)";
opacity: 0.6;
}

div.flash a.flash_close {
display: block;
position: absolute;
top: 6px;
right: 6px;
text-align: right;
-webkit-user-select:none;
-moz-user-select: none;
user-select: none;
}

div.flash a:hover,
div.flash a:focus {
background: rgba(0,0,0,0.1);
filter: alpha(opacity=100);
filter: "alpha(opacity=100)";
opacity: 1;
text-decoration: none;
}

div.flash a:active {
background: rgba(0,0,0,0.2);
}
