{% extends "layouts/base.html" %}

{% block title %}[[ resource_plural|title ]]{% endblock %}


{% block content %}
<div class="container">
{% include '[[ resource_plural ]]/_flash_messages.html' %}

<h1>Listing [[ resource_plural ]]</h1>


<div class="subtitle">
    [% for fname, ftype, ffield in fields -%]
    <h2>[[ fname|title ]]</h2>
    [% endfor -%]
</div>

<div class="table">
{% for item in [[ resource_plural ]] %}
  <ul class="entry">
    [% for fname, ftype, ffield in fields -%]
    <li>{{ item.[[ fname ]] }}</li>
    [% endfor %]
    <li><a href="{{ url_for('show_[[ resource ]]', uid=item.id) }}">Show</a></li>
    <li><a href="{{ url_for('edit_[[ resource ]]', uid=item.id) }}">Edit</a></li>
    <li><a rel="nofollow" href="{{ url_for('delete_[[ resource ]]', uid=item.id) }}">Delete</a></li>
  </ul>
{% endfor %}
</div>

<a class="newentry" href="{{ url_for('new_[[ resource ]]') }}">New [[ resource ]]</a>
</div>
{% endblock %}


{% block head -%}
<link href="{{ STATIC_CSS }}/scaffolds.css" rel="stylesheet" />
{% endblock %}

{% block script -%}
<script src="{{ STATIC_JS }}/scaffolds.js"></script>
{% endblock %}

