<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="csfrtoken" content="{{ csrf_secret.value }}" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ IMAGES }}/favicon.ico" />
  <script src="{{ SCRIPTS }}/jquery-1.7.1.min.js"></script>
  <!--[if lte IE 8]>
  <script src="{{ SCRIPTS }}/selectivizr.js"></script>
  <![endif]-->
  {% block head %}{% endblock %}
</head>

<body>
  {% block content %}{% endblock %}

  <script src="{{ SCRIPTS }}/main.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>