# -*- coding: utf-8 -*-
import os

from shake import Render
# from shakext.mail import Mailer


RELOAD = True
DEBUG = True
SECRET_KEY = '<%SECRET1%>'


# SQLALCHEMY_URI = 'sqlite:///db.sqlite'


render = Render(os.path.join(os.path.dirname(__file__), 'views'))

render.set_global('STATIC', '/static')
render.set_global('STATIC_CSS', '/static/css')
render.set_global('STATIC_JS', '/static/js')
render.set_global('STATIC_IMG', '/static/images')
STATIC_ROOT = os.path.join(os.path.dirname(__file__), '..', 'static')


if not DEBUG:
    PAGE_NOT_FOUND = 'app.controllers.not_found'
    PAGE_ERROR = 'app.controllers.critical_error'


# mailer = Mailer(
#     host = 'smtp.gmail.com',
#     port = 587,
#     user = 'username',
#     password = 'password',
#     tls = True,
#     )
#
# AUTH_SETTINGS = {
#     'pepper': '<%SECRET2%>',
#     'render': render,
#     'mailer': mailer,
#     'password_change': True,
#     'password_reset': True,
#     }


# Local settings
#-------------------------------------
try:
    from LOCAL import *
except ImportError:
    pass
