@font-face {
    font-family: 'MuliRegular';
    src: url('Muli-Regular-webfont.eot');
    src: url('Muli-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Muli-Regular-webfont.woff') format('woff'),
         url('Muli-Regular-webfont.ttf') format('truetype'),
         url('Muli-Regular-webfont.svg#MuliRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}

html {
  font-size: 18px;
  line-height: 1.5;
  font-family: 'MuliRegular', Arial, sans-serif;
  letter-spacing: 0;
  color: #333333;
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/******************************************************************************
* pre, code
******************************************************************************/

pre, code{
  font-family:Monaco, Inconsolata, Consolas, 'DejaVu Sans Mono',monospace;
}
code{
  background-color: rgba(254,250,244,0.5);
  color: #111;
  font-size: 15px;
  padding: 1px 3px 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
}
pre code{
  display:block;
  background:transparent;
  color:inherit;
}

pre {
  padding: 10px;
  margin: 21px 0;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  overflow: auto;
  background-color: #ddd;
  border: 1px solid #d0d0d0;
  color:#222;
  font-size: 15px;
  line-height: 1.6;
  font-weight: normal;
  }
.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #8f5902; font-style: italic } /* Comment */
.highlight .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
.highlight .g { color: #000000 } /* Generic */
.highlight .k { color: #204a87; font-weight: bold } /* Keyword */
.highlight .l { color: #000000 } /* Literal */
.highlight .n { color: #000000 } /* Name */
.highlight .o { color: #ce5c00; font-weight: bold } /* Operator */
.highlight .x { color: #000000 } /* Other */
.highlight .p { color: #000000; font-weight: bold } /* Punctuation */
.highlight .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
.highlight .cs { color: #8f5902; font-style: italic } /* Comment.Special */
.highlight .gd { color: #a40000 } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #ef2929 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #000000; font-style: italic } /* Generic.Output */
.highlight .gp { color: #8f5902 } /* Generic.Prompt */
.highlight .gs { color: #000000; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
.highlight .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #000000 } /* Literal.Date */
.highlight .m { color: #0000cf; font-weight: bold } /* Literal.Number */
.highlight .s { color: #4e9a06 } /* Literal.String */
.highlight .na { color: #c4a000 } /* Name.Attribute */
.highlight .nb { color: #204a87 } /* Name.Builtin */
.highlight .nc { color: #000000 } /* Name.Class */
.highlight .no { color: #000000 } /* Name.Constant */
.highlight .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #ce5c00 } /* Name.Entity */
.highlight .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #000000 } /* Name.Function */
.highlight .nl { color: #f57900 } /* Name.Label */
.highlight .nn { color: #000000 } /* Name.Namespace */
.highlight .nx { color: #000000 } /* Name.Other */
.highlight .py { color: #000000 } /* Name.Property */
.highlight .nt { color: #204a87; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #000000 } /* Name.Variable */
.highlight .ow { color: #204a87; font-weight: bold } /* Operator.Word */
.highlight .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
.highlight .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
.highlight .sb { color: #4e9a06 } /* Literal.String.Backtick */
.highlight .sc { color: #4e9a06 } /* Literal.String.Char */
.highlight .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4e9a06 } /* Literal.String.Double */
.highlight .se { color: #4e9a06 } /* Literal.String.Escape */
.highlight .sh { color: #4e9a06 } /* Literal.String.Heredoc */
.highlight .si { color: #4e9a06 } /* Literal.String.Interpol */
.highlight .sx { color: #4e9a06 } /* Literal.String.Other */
.highlight .sr { color: #4e9a06 } /* Literal.String.Regex */
.highlight .s1 { color: #4e9a06 } /* Literal.String.Single */
.highlight .ss { color: #4e9a06 } /* Literal.String.Symbol */
.highlight .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #000000 } /* Name.Variable.Class */
.highlight .vg { color: #000000 } /* Name.Variable.Global */
.highlight .vi { color: #000000 } /* Name.Variable.Instance */
.highlight .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */


/******************************************************************************
* warning, info, note
******************************************************************************/

.warning, .info, .note {
  position: relative;
  padding: 10px 10px 10px 40px;
  margin: 15px 0 20px;
  border: 1px solid transparent;
  font-size: 15px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.warning {
  background-color: #f9d9d8;
  border-color: #ed9390;
}
.info {
  background-color: #d5e9f6;
  border-color: #91c5e7;
}
.note {
  background-color: #fff9d8;
  border-color: #ffec84;
}
.note:before {
  content: '';
  background: transparent url(../images/note.gif) no-repeat 0 0;
  position: absolute;
  top: 4px;
  left: -22px;
  height: 100%;
  width: 36px;
}

/******************************************************************************
* clearfix
******************************************************************************/

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

/******************************************************************************
* headers
******************************************************************************/

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: #111;
  text-rendering: optimizelegibility;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #111;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
text-decoration: none;
}

h1 a:hover::after,
h2 a:hover::after,
h3 a:hover::after,
h4 a:hover::after,
h5 a:hover::after,
h6 a:hover::after {
  content: '↵';
  font-size: 18px;
  text-decoration: none;
  color: #666;
  line-height: 1.5;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  color: #999999;
}

h1 {
  font-size: 30px;
  line-height: 3.24em;
}
h1 small {
  font-size: 18px;
}
#sidebar h1 {
  font-size: 18px;
}
header h1 small {
  font-size: 16px;
}

h2 {
  font-size: 22px;
  line-height: 34px;
  padding: 10px 0 2px;
}
h2 small {
  font-size: 18px;
}

h3 {
  font-size: 18px;
  line-height: 22px;
}
h3 small {
  font-size: 14px;
}

h4, h5, h6 {
  line-height: 17px;
}

h4 {
  font-size: 14px;
}
h4 small {
  font-size: 12px;
}

h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}

/******************************************************************************
* a
******************************************************************************/

a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}

/******************************************************************************
* sup, sub
******************************************************************************/

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

/******************************************************************************
* button, input, textarea
******************************************************************************/

.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  /* Make inputs at least the height of their button counterpart */
  /* Makes inputs behave like true block-level elements */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button, input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}

.button-list {
  list-style:none;
  height:40px;
  
  padding:0;
  margin: 0;
  
  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  
  border-radius:5px;
  border:1px solid #d2d2d2;
  box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
  width:270px;
}

.button-list li {
  width:89px;
  float:left;
  border-right:1px solid #d2d2d2;
  height:40px;
}

.button-list a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
}

.button-list li + li {
  width:88px;
  border-left:1px solid #fff;
}

.button-list li + li + li {
  border-right:none;
  width:89px;
}

.button-list a strong {
  font-size:14px;
  display:block;
  color:#222;
  font-weight:700;
}

/******************************************************************************
* images
******************************************************************************/

img {
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/******************************************************************************
* lists
******************************************************************************/

ul, ol {
  padding: 0;
  margin: 0 0 0.81em 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 1.62em;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

dl {
  margin: 18p 0 30px;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 0 20px 16px;
}
.dl-horizontal dt {
  float: left;
  clear: left;
  width: 120px;
  text-align: right;
}
.dl-horizontal dd {
  margin-left: 130px;
}

/******************************************************************************
* text
******************************************************************************/

p {
  margin: 4px 0 10px;
  line-height: 1.5;
}

hr {
  margin: 1.62em 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

strong {
  font-weight: bold;
}
em, .amp {
  font-style: italic;
}

abbr[title] {
  border-bottom: 1px dotted #ddd;
  cursor: help;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 1.62em;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 2em;
}
blockquote small {
  display: block;
  line-height: 1.62em;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-left: 0;
  padding-right: 15px;
  border-left: 0;
  border-right: 5px solid #eeeeee;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

address {
  display: block;
  margin-bottom: 1.62em;
  line-height: 1.62em;
  font-style: normal;
}

small {
  font-weight: normal;
  color: #999999;
  font-size: small;
}

cite {
  font-style: normal;
}

/******************************************************************************
* structure
******************************************************************************/

.wrap {
  position: relative;
  width: 1030px;
  margin: 0 auto;
  padding: 0;
  float: none;
  clear: both;
}

header {
  padding: 15px 0 5px;
  height: 50px;
  background: #F5F8FA;
  min-width: 1060px;
}

header h1 {
  height: auto;
  line-height: 1;
  float: right;
  text-align: right;
}
header h1 a {
  font-size: 16px;
  line-height: 1.4;
  color: #555;
}
header h1 a:hover {
  color: #777;
  text-decoration: none;
}

#ghbuttons {
float: right;
margin-left: 30px;
}

#content {
  width: 730px;
  padding: 0 15px 0 315px;
  position: relative;
}

#sidebar {
  position: absolute;
  width: 270px;
  left: 15px;
  top: 100px;
}

#content .main h1:first-child {
  height: 110px;
  font-size: 34px;
}

#sidebar .page-toc {
  margin: 30px 0 10px;
}

#ghwatch {
  margin: 30px 0 10px;
  padding: 15px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

#ghwatch iframe {
  display: block;
  margin: 0 auto;
}


footer {
  margin: 90px 0 40px;
  clear: both;
  font-size: 15px;
  color: rgb(150, 150, 150);
}

/******************************************************************************
* toc
******************************************************************************/

h1.toc-title {
background-image: url(../images/icon_list.png);
background-position: 0 center;
background-repeat: no-repeat;
padding-left: 32px;
}

ul.toc {
margin-left: 0;
margin-right: 0;
background: #F4F9FB;
border: 1px solid #eee;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

ul.toc li {
padding: 0;
margin: 0;
color: #666;
list-style-position: inside;
list-style-type: circle;
}

ul.toc li a {
display: block;
padding: 0 15px;
}

ul.toc li a:hover {
text-decoration: none;
background-color: #eee;
}

ul.toc li a {
  font-size: 16px;
}

ul.toc > li {
  list-style-type: none;
}

ul.toc ul {
  margin: 0;
  padding: 0;
}

ul.toc ul li ul li {
  padding-left: 16px;
}

ul.toc ul li ul li a {
  font-size: 14px;
}

.page-toc ul.toc > li > a {
  font-weight: bold;
  color: #222;
  margin: 15px 0 10px;
}

.page-toc ul.toc > li > ul > li {
  list-style-type: none;
}

.page-toc ul.toc > li > ul > li > a {
  font-size: 14px;
  color: #666;
}

/******************************************************************************

******************************************************************************/

/* Overwrite the default to keep the scrollbar always visible */
pre::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

pre::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
}​