{% extends "layouts/base.html" %}

{% block title %}Welcome aboard{% endblock %}

{% block content %}
<div class="welcome">

<h1>{{ self.title() }}</h1>
<h2>Congratulations on your first Shake-powered app!</h2>

<h3>Here's what to do next:</h3>
<ol>
<li>
  <h4>See the <span class="filename">README.md</span> for info about this application skeleton.</h3>
</li>
<li>
  <h4>Create your models, controllers and views.</h4>
  <p>Put them in <span class="filename">app/models/</span>, <span class="filename">app/controllers/</span> and <span class="filename">app/views/</span>.</p>
</li>
<li>
  <h4>Set up your routes and point them to your controllers.</h4>
  <p>Routes are set up in <span class="filename">app/urls.py</span></p>
</li>
<li>
  <h4>Create your database.</h4>
  <p>Run &ldquo;<code>python manage.py initdb</code>&rdquo; to create your database. If you're not using SQLite (the default), edit the <var>SQLALCHEMY_URI</var> setting in <span class="filename">app/settings/__init__.py</span> with your username and password.</p>
</li>
</ol>

<h5>Go ahead, Shake things up!</h5>
</div>
{% endblock %}
