{% extends 'base.html' %}

{% block title %}Edit [[ singular ]] | {{ super() }}{% endblock %}


{% block content %}

{% endblock %}


{% block head %}
{% endblock %}


{% block scripts %}
{% endblock %}
