{% extends 'common/base.html' %}
{% block title %}[[ plural ]] | {{ super() }}{% endblock %}

{% block content %}
<h1>[[ plural ]]</h1>

{% for [[ singular ]] in [[ plural ]] %}
  <article></article>
{% endfor %}
{% endblock %}


{% block head %}
{% endblock %}


{% block scripts %}
{% endblock %}
