# -*- coding: utf-8 -*-
"""
[[ plural|title ]] URLs

The priority is based upon order of creation:
first created -> highest priority.
"""
from shake import Rule, EndpointPrefix, Submount

from . import controllers, models


urls = [

    EndpointPrefix('bundles.[[ plural ]].controllers', [

        Rule('/', 'index',
            methods=['GET'],
            name='[[ plural ]].index'
        ),
        Rule('/new/', 'new',
            name='[[ plural ]].new'
        ),
        Rule('/<int:[[ singular ]]_id>/', 'show',
            name='[[ plural ]].show'
        ),
        Rule('/<int:[[ singular ]]_id>/edit/', 'edit',
            name='[[ plural ]].edit'
        ),
        Rule('/<int:[[ singular ]]_id>/delete/', 'delete',
            name='[[ plural ]].delete'
        ),
        Rule('/<int:[[ singular ]]_id>/restore/', 'restore',
            name='[[ plural ]].restore'
        ),

    ]),
    
]
