# -*- coding: utf-8 -*-
"""
    [[ plural|title ]] forms
    -------------------------------

"""
from solution import forms as f

from .models import [[ class_name ]]


class [[ class_name ]]Form(f.Form):
    _model = [[ class_name ]]

    pass


def get_[[ singular]]_form(request):
    return [[ class_name ]]Form(request.form)

