# -*- coding: utf-8 -*-
from datetime import datetime

from sqlalchemy import *

from ..models import db, BaseMixin


class [[ table_name ]](db.Model, BaseMixin):
    
    [% for fname, ftype, ffield in fields -%]
    [[ fname ]] = Column([[ ftype ]])
    [% endfor %]

