{% extends "auth_base.html" %}
{% block title %}Cambia tu contraseña{% endblock %}
{% block page %}
{% if ok %}
    <form>
    <div class="ok">Contraseña cambiada.</div>
    <fieldset>
    <a href="{{ sign_in_redirect }}">Click aquí para continuar.</a>
    </fieldset>
    </form>
{% else %}
    <form action="" method="post" accept-charset="utf-8">
    {% if errors -%}
      <div class="error"><ul>
      {% if 'FAIL' in errors -%}
        <li>Tu contraseña actual no es correcta.</li>
      {%- endif %}
      {% if 'TOO SHORT' in errors -%}
        <li>La contraseña es muy corta <br>(el mínimo es <code>{{ auth.settings.password_minlen }}</code> caracteres).</li>
      {%- endif %}
      {% if 'MISMATCH' in errors -%}
        <li>La contraseña no es igual a la confirmación.</li>
      {%- endif %}
      </ul></div>
    {%- endif %}

    <h1>Cambia tu contraseña</h1>
    {% if user_requested -%}
    <label for="password">Contraseña actual<br>
    <input type="password" name="password" id="password" size="20" maxlength="254" tabindex="1">
    </label>
    {%- endif %}
    <label for="new_password_1">Nueva contraseña<br>
    <input type="password" name="new_password_1" id="new_password_1" size="20" maxlength="254" tabindex="2">
    </label>
    <label for="new_password_2">Confirma la nueva contraseña<br>
    <input type="password" name="new_password_2" id="new_password_2" size="20" maxlength="254" tabindex="3">
    </label>

    <fieldset>
    <a href="{% if user_requested %}javascript:history.back(1){% else %}/{% endif %}" tabindex="5">Cancelar</a>
    {{ csrf_secret.input }}
    <button type="submit" tabindex="4">Cambiar contraseña &raquo;</button>
    </fieldset> 

    </form>
{%- endif %}
{% endblock %}