{% extends "auth_base.html" %}
{% block title %}Regenera tu contraseña{% endblock %}
{% block page %}
{% if ok %}
    <form>
    <div class="ok">Email enviado. Por favor revisa tu correo.</div>
    </form>
{% else %} 
    <form action="{{ url_for('auth.reset_password') }}" method="post" accept-charset="utf-8">
    {% if error == 'NOT FOUND' %}
    <div class="error">No encontramos una cuenta con ese nombre. 
    ¿Quizas usaste uno diferente?</div>
    {% elif error == 'WRONG TOKEN' %}
    <div class="error">Algo está mal con este enlace para regenerar tu contraseña.<br>
    Prueba copiandolo y pegándolo desde el email o regenerando tu contraseña de nuevo.
    </div>
    {% endif %}

    <h1>Reset your password</h1>
    <p>Enter your user name and a verification token will be sent to you. You will be able to choose a new password for your account.</p>

    <label>Usuario<br>
    <input type="text" name="login" id="auth_login" value="{{ credentials.login|e }}" 
    size="20" maxlength="254" tabindex="1">
    </label>

    <fieldset>
    <a href="{{ url_for('auth.sign_in') }}" tabindex="5">Entrar</a>
    <button type="submit" tabindex="4">Regenerar contraseña &raquo;</button>
    </fieldset> 

    </form>
{% endif %}
{% endblock %}