
# [[ PNAME ]]

This is the default directory structure for a Shake application. 

├── README.md
├── app
│   ├── app.py
│   ├── controllers.py
│   ├── models.py
│   ├── settings
│   │   ├── __init__.py
│   │   └── _LOCAL.py
│   ├── urls.py
│   ├── users
│   │   ├── models.py
│   │   └── urls.py
│   └── views
│       ├── error.html
│       ├── index.html
│       ├── layouts
│       │   └── base.html
│       └── not_found.html
├── lib
│   └── README.txt
├── manage.py
├── requirements.txt
├── static
│   ├── images
│   │   └── favicon.ico
│   ├── robots.txt
│   ├── scripts
│   │   ├── jquery-1.7.1.min.js
│   │   ├── [[ PNAME ]].js
│   │   └── underscore-1.1.6.min.js
│   └── styles
│       ├── pacifico-webfont.woff
│       ├── [[ PNAME ]].css
│       └── reset.css
└── tests
    └── __init__.py


app
:   This directory contains all the pyton codes specific for
    this application.

app/app.py
:   The file where your main application object is created.


app/settings
:   This subdirectory contains the small amount of configuration
    code that your application will need, including your
    database configuration and others.

app/urls.py
:   List of URL routing rules to make the apllication call a
    specific controller for a given URL.

app/views
:   The views subdirectory holds the display templates to fill
    in with data from our application, convert to HTML (or any
    other text-based format), and return to the user's browser.
    All templates uses the Jinja2 syntax by default.

app/views/layouts
:   Holds the template files for layouts to be used with views.
    This contains the common section such as the header, footer,
    etc.

manage.py
:   A command line program for managment tasks. You can add your
    own commands to this file.

requirements.txt
:   A list of the python modules required by your aplicación. To
    install all of them, just do:

        pip install -r requierements.txt

static
:   This directory has web files that don't change, such as
    JavaScript files (`static/scripts), images 
    (`static/images`), stylesheets (`static/styles`),
    and others.

lib
:   Application specific libraries. Basically, any kind of custom code that
    doesn't belong in your bundles. This directory is added automatically
    in the path, so anything you put here is directly importable.

tests
:   The tests you'll write. Yes, you should write tests.

