<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>Reset your password</title>
</head>
</body>

<p>Dear {{ user.login|e }},</p>

<p>Para regenerar tu contraseña de {{ site_name }}, <br>
simplemente haz click en el enlace de abajo. <br>
Esto te llevará a una página donde podrás crear una nueva contraseña.</p>

<p>Por favor nota que el enlace solo será válido durante las <br>
siguientes {{ token.expire_after }} horas desde que este email fué enviado.</p>

<p><a href="{{ token.link }}">{{ token.link }}</a></p>
 
<hr>

<p>Si no estabas tratando de regenerar tu contraseña, no te preocupes &mdash; 
tu cuenta está segura todavía y no se le ha dado acceso a nadie más.</p>

<p>Gracias.</p>

<p>&nbsp;</p>

<p>{{ site_name }}</p>
</body>
</html>