<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>Page not found</title>
<link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
<!-- TODO: make it prettier -->
<div id="header">
<h1>Page not found</h1>
<dl>
<dt>Request method: </dt><dd>{{ request.method }}</dd>
<dt>Request URL: </dt><dd>{{ request.url|e }}</dd>
</dl>
</div>
<div id="content">
<p>We tried these URL rules</p>
<ol>
{% for r in rules %}
    {% if not r.build_only %}
        <li>
        {%- if r.subdomain %}{{ r.subdomain|e }}. {% endif -%}
        {{ r.rule|e }}
        {%- if r.methods %} <small>[{{ r.methods|join(', ') }}]</small>{% endif -%}
        </li>
    {% endif %}
{% endfor %}
</ol>
<p>The current URL, &ldquo;{{ request.url|e }}&rdquo;, didn’t match any of these.</p>
</div>
<!-- WARNING:
If this custom 404 page is smaller than 512 bytes, then Internet Explorer and 
Chrome|Chromium will display their own built-in 404 page and the robots
will take over the world.
-->
</body>
</html>