<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="framework" content="Shake" />
<title>{% block title %}{% endblock %}</title>
<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_IMG }}/favicon.ico" />
<link href="{{ STATIC_CSS }}/[[ PNAME ]].css" rel="stylesheet" />
<script src="{{ STATIC_JS }}/jquery-1.7.1.min.js"></script>
<!--[if (gte IE 6)&(lte IE 8)]>
<script src="{{ STATIC_JS }}/selectivizr.js"></script>
<![endif]-->
<link href="{{ STATIC_CSS }}/[[ PNAME ]].css" rel="stylesheet" />
<script src="{{ STATIC_JS }}/modernizr2.js"></script>
{% block head %}{% endblock %}
</head>
<body>

{% block content %}{% endblock %}

<script src="{{ STATIC_JS }}/underscore-1.1.6.min.js"></script>
<script>var CSRF_TOKEN = '{{ csrf_secret.value }}';</script>
<script src="{{ STATIC_JS }}/[[ PNAME ]].js"></script>
{% block scripts %}{% endblock %}
</body>
</html>